
/* font styles */



h1{
    font-family: 'GT Sectra Display Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96%;
    margin: 0px;
    color: #495b9b;
   
}

h2{
    font-family: 'GT Sectra Display Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 96%;
    margin: 0px;
    color: #495b9b;


}

h3{
    font-family: 'National 2 Test';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 96%;
    margin: 0px;

}

h4{
    font-family: 'National 2 Test';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin: 0px;

}


h5{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 96%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

}


h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 10px;
    margin: 0px;
}



p{
    font-family: 'National 2 Test';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;

}
/* layout styles */




/* button */
.button{
    width: 150px;
    height: 48px;
    background-color: #495b9b;
    color: aliceblue;
    font-size: medium;
    border-radius: 8px;
    box-shadow: none;
    border: none;

}


/* footer */

.footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footerCopy{
    text-align: center;


}

/* spacing */
.spaceSmall{
    height: 16px;
    width: 100vw;
}


.spaceLarge{
    height: 60px;
    width: 100vw;
}



.navigationElementsDisabled{
    color: #2d3a6a;
}


.navigationEyebrowDisabled{
    font-family: 'National 2 Test';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 96%;
    text-transform: none;
    color: #2d3a6a;

}