
/* font sizes */
/* ------------------------------------------------------------------ */
/* h1{
font-size: 400px;
margin-left: 50px;
/* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black; */
/* color: rgba(0, 0, 0, .2);    */
/* mix-blend-mode: soft-light;
} */ 

.body{
   width: 100vw;
   height: 100vh;
}

.homePageElements{
    background: linear-gradient(239.7deg, #CCC8FF 0%, #C4DEF7 98.95%);
    height: 100vh;
    width: 100vw;
    margin-left: -20px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 20px;

}



.hello{
    color: #000000;
    font-size: 288px;
    position: absolute;
    left: 100px;
    top: 25vh;
    mix-blend-mode: soft-light;
}




.introMessage{
    position: absolute;
    left: 200px;
    top: 45vh;
    font-size: 288px;    
    color: #ffffff00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}


.intro{
    position: absolute;
    left: 200px;
    top: 50vh;
    font-size: 288px;    
    color: #ffffff00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    display: none;
}

/* background grid layout */
/* ------------------------------------------------------------------- */

.pageElements{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
}

.hero{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;


}





/* .introMessage{
    margin-top: -200px;
    margin-left: 250px;
    transform: translate(525px,-300px);
} */


.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutImage{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: #CCC8FF;
}