
.leftSide{
    display: flex;
    flex-direction: row;
}


.lines{
    width: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content{
    display: flex;
    flex-direction: column;
    
}

.projectSectionHero{
    display: flex;
    flex-direction: row;
    padding-left: 114px;

}


.projectSectionContent{
    display: flex;
    flex-direction: row;
    background-color: #e3e8f4;
    width: 100vw;
    height: 800px;
    margin-top: 64px;
    padding-left: 114px;

}



.sectionItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.sectionText{
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
}


.breadcrumb{
    height: 100px;
    margin-top: 50px;
}

.titleDivider{
    width: 201px;
    height: 8px;
    background: #38373E;
    margin-top: 24px;
}


.projectTitle{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.image{
    width: 248px;
    height: 438px;
    background-color: #E5E5E5;
    
}

.appImage{
    width: 248px;
    /* height: 438px; */
    /* background-color: #E5E5E5; */
    
}




.imageMedium{
    width: 400px;
    height: 438px;
    background-color: #E5E5E5;
    
}

.appMediumImage{
    width: 400px;
    height: 438px;
    background-color: #E5E5E5;
    object-fit: cover;
    
}


.imageLarge{
    width: 900px;
    height: 438px;
    background-color: #E5E5E5;
    border-radius: 8px;
    
}
.appImageLarge{
    width: 900px;
    height: 438px;
    background-color: #E5E5E5;
    border-radius: 8px;
    object-fit: cover;
    
}
.heroImage{
    width: 900px;
    height: 600px;
    background-color: #E5E5E5;
    border-radius: 8px;
    object-fit: cover;
    
}

.heroArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin-top: 48px;
    margin-left: 48px;
}

.projectDesciption{
    margin-top: 24px;
    width: 1000px;
}


.problemStatement{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.problem{
    width: 300px;
    margin-right: 50px;
}

.problemText{
    width: 550px;
}

.contentArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 1000px;
    margin-top: 60px;
}

.statements{
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-around;
    margin-top: 50px;
}

.dashedLine{
    width: 100px;
    height: 12px;
    fill: #38373E;
    background-color: none;

}

.sectionContent{
    width: 416px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contentText{
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.contentTextFullWidth{
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.contentHeader{
    font-family: 'National 2 Test';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}


.featureSetContentArea{
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-around;
    margin-top: 120px;

}

.fullFeatureContentArea{
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: space-around;
    margin-top: 120px;

}

.projectSectionContent2{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100vw;
    margin-bottom: 100px;
    padding-left: 114px;

}

.projectSectionContent3{
    display: flex;
    flex-direction: row;
    background-color: #e3e8f5;
    width: 100vw;
    padding-bottom: 100px;
    padding-left: 114px;

}

.processStatement{
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
}



